*{
  padding: 0;
  margin: 0;
}
body{
  font-family: sans-serif;
}
header{
  width:80% auto;
  display:flex;
  align-items: center;
  height:10vh;
}
.logo-container{
flex:1;
margin-left:20px;
}
nav{
flex:2;
}
.cart{
  flex:1;
  justify-content: flex-end;
  margin-right: 40px;
}
.logo-container,.nav-links,.cart{
  display:flex;
}
.logo-container img{
  width:35px;
}
.logo-container h4{
  font-weight: 600;
  font-size: 20px;
  margin:8px;
}
.nav-links{
  justify-content: space-around;
  list-style: none;
}
.nav-link{
  color:#5f5f69;
  font-weight: 600;
  font-family: andalus;
  text-decoration: none;
  font-size: 20px;
}
a::after{
  content:'';
  width:0;
  height:2px;
  display: block;
  background: tomato;
  margin:auto;
  transition: .7s;
}
a:hover::after{
  width:100%;
}
.presentation{
  display:flex;
  width:80% auto;
  margin-left:20px;
  margin-right:30px;
  height:70vh;
  align-items: center;
}
.intro-text h1{
font-weight: 800;
font-size: 65px;
background: linear-gradient(to right, #494964, #6f6f89);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.intro-text p span{
  color:red;
  font-size: 20px;;
}
.intro-text p{margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  font-family: cursive;
  color:#6f6f89;
}
.introduction{
  flex:1;
}
.cover{
  flex:1;
}
.cover img{
  filter:drop-shadow(0px 15px 18px black);
  animation: akinroye 1.5s infinite;
}
.select{
  border:2px solid #c36cbb;
  background: transparent;
  color: #c36cbb;
  cursor:pointer;
  height:50px;
  font-size:18px;
  width:150px;
}
.add{
  background: #c36cbb;
  cursor:pointer;
  height:50px;
  font-size:18px;
  width:150px;
  color:white;
  border:none;
  margin: 30px 0px 0px 30px;
}

@keyframes akinroye{
  0%{
opacity:0;
transform:translateY(-80px);
  }
  100%{
    opacity:1;
transform:translateY(0px);
  }
}